<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Brad Westness.com | {{ page.title }}</title>
    <meta name="author" content="Brad Westness" />

    {% capture description %}
    {% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}
    {% endcapture %}
    <meta name="description" content="{{ description }}">

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}apple-touch-icon-180x180.png" />
    <link rel="icon" type="image/png" href="{{ site.baseurl }}favicon-192x192.png" sizes="192x192" />
    <link rel="icon" type="image/png" href="{{ site.baseurl }}favicon-160x160.png" sizes="160x160" />
    <link rel="icon" type="image/png" href="{{ site.baseurl }}favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="{{ site.baseurl }}favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{ site.baseurl }}favicon-32x32.png" sizes="32x32" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="msapplication-TileImage" content="{{ site.baseurl }}mstile-144x144.png" />

    <link rel="alternate" type="application/atom+xml" href="{{ site.baseurl }}atom.xml" />
    <link rel="stylesheet" href="{{ site.baseurl }}content/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}content/font-awesome.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}content/prism.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}content/site.css" />

    <link rel="me" type="text/html" href="{{ site.baseurl }}" />
    <link rel="me" type="text/html" href="http://twitter.com/bradwestness" />
    <link rel="me" type="text/html" href="http://github.com/bradwestness" />
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{ site.baseurl }}" class="navbar-brand">Brad Westness.com</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ site.baseurl }}about/"><i class="fa fa-question"></i> About</a></li>
                    <li><a href="{{ site.baseurl }}archive/"><i class="fa fa-calendar"></i> Archive</a></li>
                    <li><a href="{{ site.baseurl }}atom.xml" target="_blank"><i class="fa fa-rss"></i> Feed</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="col-lg-4 col-sm-3 hidden-xs hidden-print">
                <div class="sidebar">
                    <p><a href="{{ site.baseurl }}"><img src="{{ site.baseurl }}content/images/schoolbus.jpg" class="img-circle img-responsive" alt="Brad Westness" /></a></p>
                    <p class="lead text-muted">A simple man in complex times.</p>
                    <ul class="list-inline">
                        <li><a class="btn btn-link btn-sm" href="https://www.twitter.com/bradwestness" title="Twitter" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>
                        <li><a class="btn btn-link btn-sm" href="https://www.github.com/bradwestness" title="Github" target="_blank"><i class="fa fa-github"></i> Github</a></li>
                        <li><a class="btn btn-link btn-sm" href="mailto:brad.westness@outlook.com" title="Email"><i class="fa fa-envelope"></i> Email</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 col-sm-9 col-xs-12">
                {{ content }}
                <hr />
                <footer>
                    <p class="text-muted small">
                        &copy;
                        <script type="text/javascript" async="async" defer="defer">document.write(new Date().getFullYear());</script>
                        Brad Westness.com
                    </p>
                </footer>
            </div>
        </div>
    </div>

    <script type="text/javascript" async="async" defer="defer">
        var disqus_shortname = "bradwestness";

        (function () {

            var countScript = document.createElement("script");
            countScript.type = "text/javascript";
            countScript.async = true;
            countScript.src = "http://" + disqus_shortname + ".disqus.com/count.js";
            (document.getElementsByTagName("head")[0] || document.getElementsByTagName("body")[0]).appendChild(countScript);
        }());
    </script>

    <script type="text/javascript" async="async" defer="defer">
        var google_analytics_id = "UA-43759416-1";

        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', google_analytics_id, 'auto');
        ga('send', 'pageview');
    </script>

    <script type="text/javascript" src="{{ site.baseurl }}scripts/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}scripts/respond.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}scripts/prism.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}scripts/site.js"></script>
</body>
</html>
