<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    {% seo %}
    {%- assign twitter_description = page.description | default: page.excerpt | default: site.description | strip_html | normalize_whitespace | truncatewords: 50 -%}
    <meta name="twitter:description" content="{{ twitter_description | escape_once }}" />
    {%- if page.image_alt %}
    <meta property="og:image:alt" content="{{ page.image_alt | escape }}" />
    <meta name="twitter:image:alt" content="{{ page.image_alt | escape }}" />
    {%- endif %}

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="copyright" content="Brad Westness" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" href="/site.webmanifest">
    <script type="text/javascript">
    if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("/service-worker.js");
    }
    </script>

    <link rel="stylesheet" href="{{ '/content/bootswatch-flatly.min.css' | relative_url }}" media="(prefers-color-scheme: light)" />
    <link rel="stylesheet" href="{{ '/content/bootswatch-darkly.min.css' | relative_url }}" media="(prefers-color-scheme: dark)" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link rel="stylesheet" href="{{ '/content/prism.default.css' | relative_url }}" media="(prefers-color-scheme: light)" />
    <link rel="stylesheet" href="{{ '/content/prism.night.css' | relative_url }}" media="(prefers-color-scheme: dark)" />
    <link rel="stylesheet" href="{{ '/content/site.css' | relative_url }}" />

    {% feed_meta %}
    <link rel="me" type="text/html" href="{{ '/' | absolute_url }}" />
    <link rel="me" type="text/html" href="https://github.com/bradwestness" />
    <link rel="me" type="text/html" href="https://bsky.app/profile/brad.westness.cc" />
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark" aria-label="Primary">
        <div class="container">
            <a class="navbar-brand" href="{{ '/' | relative_url }}"{% if page.url == '/' %} aria-current="page"{% endif %}>{{ site.sitename }}</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link{% if page.url == '/about/' %} active{% endif %}" href="{{ '/about/' | relative_url }}"{% if page.url == '/about/' %} aria-current="page"{% endif %}>
                            <i class="fa-solid fa-question" aria-hidden="true"></i> About
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if page.url == '/archive/' %} active{% endif %}" href="{{ '/archive/' | relative_url }}"{% if page.url == '/archive/' %} aria-current="page"{% endif %}>
                            <i class="fa-solid fa-calendar" aria-hidden="true"></i> Archive
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if page.url == '/categories/' %} active{% endif %}" href="{{ '/categories/' | relative_url }}"{% if page.url == '/categories/' %} aria-current="page"{% endif %}>
                            <i class="fa-solid fa-tag" aria-hidden="true"></i> Categories
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ '/atom.xml' | relative_url }}" target="_blank" rel="noopener">
                            <i class="fa-solid fa-rss" aria-hidden="true"></i> Feed
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="container body-content">
        <div class="row">
            <div class="col-12 col-lg-8">
                {{ content }}
                <hr />
                <footer>
                    <p class="text-secondary small text-end">
                        &copy;
                        {{ 'now' | date: "%Y" }}
                        {{ site.sitename }}
                    </p>
                </footer>
            </div>
            <aside class="col-lg-3 offset-lg-1 d-none d-lg-block d-print-none text-end">
                <div class="sticky-top">
                    <p><a href="{{ '/about/' | relative_url }}"><img src="{{ site.logo | relative_url }}"
                                class="img-fluid rounded-circle" alt="Brad Westness" /></a></p>
                    <p class="lead text-secondary">{{ site.description }}</p>
                    <ul class="list-unstyled d-flex flex-wrap justify-content-end gap-2">
                        <li><a class="btn btn-link btn-sm" rel="me" href="https://bsky.app/profile/brad.westness.cc" title="Bluesky"
                                target="_blank"><i class="fa-brands fa-bluesky" aria-hidden="true"></i> Bluesky</a></li>
                        <li><a class="btn btn-link btn-sm" rel="me" href="https://www.github.com/bradwestness" title="Github"
                                target="_blank"><i class="fa-brands fa-github" aria-hidden="true"></i> GitHub</a></li>
                        <li><a class="btn btn-link btn-sm" rel="me" href="mailto:brad@westness.cc" title="Email"><i
                                class="fa-solid fa-envelope" aria-hidden="true"></i> Email</a></li>
                    </ul>
                </div>
            </aside>
        </div>
    </main>
    
    <div id="cookie-alert" class="alert alert-secondary text-center mb-0 fixed-bottom d-none" role="alert">
        This website uses cookies to ensure you get the best experience.
        <a href="https://cookiesandyou.com/" target="_blank" rel="noopener" class="alert-link ms-3">Learn more</a>
        <button id="accept-cookies" type="button" class="btn btn-primary btn-sm ms-3">
            Ok
        </button>
    </div>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-43759416-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-43759416-1');
    </script>

    <script type="text/javascript" src="{{ '/scripts/jquery-3.2.1.slim.min.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ '/scripts/bootstrap.min.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ '/scripts/mermaid.min.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ '/scripts/prism.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ '/scripts/site.js' | relative_url }}"></script>
</body>

</html>
