<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{{ page.title }} | Brad Westness</title>

    {%- capture description -%}
    {%- if post and post.excerpt -%}
    {{- post.excerpt | strip_html -}}
    {%- elsif post and post.description -%}
    {{- post.description | strip_html -}}
    {%- elsif post and post.content -%}
    {{- post.content | strip_html | truncatewords: 50 -}}
    {%- elsif page and page.description -%}
    {{- page.description | strip_html -}}
    {%- elsif page and page.content -%}
    {{- page.content | strip_html | truncatewords: 50 -}}
    {%- else -%}
    {{- site.description | strip_html -}}
    {%- endif -%}
    {%- endcapture -%}

    {%- capture keywords -%}
    {%- if post and post.categories -%}
    {{- post.categories | join: ',' -}}
    {%- elsif page and page.categories -%}
    {{- page.categories | join: ',' -}}
    {%- else -%}
    {{- site.keywords -}}
    {%- endif -%}
    {%- endcapture -%}

    {%- capture image -%}
    {%- if post and post.image -%}
    {{- site.baseurl -}}{{- post.image -}}
    {%- elsif page and page.image -%}
    {{- site.baseurl -}}{{- page.image -}}
    {%- else -%}
    {{- site.baseurl -}}{{- site.logo -}}
    {%- endif -%}
    {%- endcapture -%}

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Brad Westness" />
    <meta name="copyright" content="Brad Westness" />
    <meta name="description" content="{{- description -}}" />
    <meta name="keywords" content="{{- keywords -}}" />

    <meta property="og:site_name" content="{{ site.sitename }}" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ image }}" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:url" content="https://brad.westness.cc{{ page.url }}" />
    <meta property="og:description" content="{{- description -}}" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" href="/site.webmanifest">
    <script type="text/javascript">
    if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("/service-worker.js");
    }
    </script>

    <link rel="stylesheet" href="{{ site.baseurl }}content/bootswatch-flatly.min.css" media="(prefers-color-scheme: light)" />
    <link rel="stylesheet" href="{{ site.baseurl }}content/bootswatch-darkly.min.css" media="(prefers-color-scheme: dark)" />
    <link rel="stylesheet" href="{{ site.baseurl }}content/bootstrap-icons-1.10.0/bootstrap-icons.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}content/prism.default.css" media="(prefers-color-scheme: light)" />
    <link rel="stylesheet" href="{{ site.baseurl }}content/prism.night.css" media="(prefers-color-scheme: dark)" />
    <link rel="stylesheet" href="{{ site.baseurl }}content/site.css" />

    <link rel="alternate" href="{{ site.baseurl }}atom.xml" type="application/atom+xml" />
    <link rel="canonical" href="https://brad.westness.cc{{ page.url }}" />
    <link rel="me" type="text/html" href="{{ site.baseurl }}" />
    <link rel="me" type="text/html" href="https://github.com/bradwestness" />
    <link rel="me" type="text/html" href="https://bsky.app/profile/brad.westness.cc" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="{{ site.baseurl }}">{{ site.sitename }}</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ site.baseurl }}about/">
                            <i class="bi bi-question"></i> About
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ site.baseurl }}archive/">
                            <i class="bi bi-calendar"></i> Archive
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ site.baseurl }}categories/">
                            <i class="bi bi-tags"></i> Categories
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ site.baseurl }}atom.xml" target="_blank">
                            <i class="bi bi-rss"></i> Feed
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <div class="row">
            <div class="col-12 col-lg-8">
                {{ content }}
                <hr />
                <footer>
                    <p class="text-secondary small text-right">
                        &copy;
                        {{ 'now' | date: "%Y" }}
                        {{ site.sitename }}
                    </p>
                </footer>
            </div>
            <div class="d-none d-print-none text-right d-lg-block col-lg-3 offset-lg-1">
                <div class="sticky-top">
                    <p><a href="{{ site.baseurl }}about/"><img src="{{ site.baseurl }}{{ site.logo }}"
                                class="img-fluid rounded-circle" alt="Brad Westness" /></a></p>
                    <p class="lead test-secondary">{{ site.description }}</p>
                    <ul class="list-inline">
                        <li><a class="btn btn-link btn-sm" rel="me" href="https://bsky.app/profile/brad.westness.cc" title="Bluesky"
                                target="_blank"><i class="bi bi-cloud"></i> Bluesky</a></li>
                        <li><a class="btn btn-link btn-sm" rel="me" href="https://www.github.com/bradwestness" title="Github"
                                target="_blank"><i class="bi bi-github"></i> Github</a></li>
                        <li><a class="btn btn-link btn-sm" rel="me" href="mailto:brad@westness.cc" title="Email"><i
                                class="bi bi-envelope"></i> Email</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div id="cookie-alert" class="alert alert-secondary text-center mb-0 fixed-bottom d-none" role="alert">
        This website uses cookies to ensure you get the best experience.
        <a href="https://cookiesandyou.com/" target="_blank" class="alert-link ms-3">Learn more</a>
        <button id="accept-cookies" type="button" class="btn btn-primary btn-sm ms-3">
            Ok
        </button>
    </div>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-43759416-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-43759416-1');
    </script>

    <script type="text/javascript" src="{{ site.baseurl }}scripts/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}scripts/popper.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}scripts/prism.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}scripts/site.js"></script>
</body>

</html>